.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 190px 0 205px;
    gap: 50px;
    margin-bottom: 125px;
}

.header-logo {
    width: 50%;
}

.header-logo__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
}

.header__nav {
    width: 50%;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__item {
    text-decoration: none;
}

.header__link {
    color:black;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;

}
.header-button{
    display: none;
}

@media screen and (max-width: 1366px) {
    .header {
        padding: 70px 145px 0 160px;
        margin-bottom: 90px;
        justify-content: space-between;
    }
    .header__list {
        gap: 50px;
    }
    .header-logo__title {
        font-size: 16px;
        line-height: 21px;
    }
    .header__link {
        font-size: 16px;
        line-height: 21px;
    }
    
}

@media screen and (max-width: 992px) {
    .header {
        padding: 45px 60px 0 80px;
        margin-bottom: 90px;
    }
    .header__list {
        gap: 50px;
    }
    .header-logo__title {
        font-size: 16px;
        line-height: 21px;
    }
    .header__link {
        font-size: 16px;
        line-height: 21px;
    }
    
}

@media screen and (max-width: 768px) {
    .header {
        padding: 30px 40px 0 40px;
        justify-content: center;
    }
    .header__list {
        gap: 10px;
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding: 30px 20px 0 20px;
        gap: 25px;
    }
    .header__list {
        gap: 10px;
    }
    .header-logo__title {
        font-size: 13px;
        line-height: 130%;
    }
    .header__link {
        font-size: 13px;
        line-height: 130%;
    }
}

@media screen and (max-width: 375px) {
    .header {
        padding: 15px 15px 0 30px;
        gap: 0px;
        margin-bottom: 35px;
        justify-content: space-between;
    }
    .header-logo__title {
        font-size: 16px;
        line-height: 21px;
    }
    .header__nav {
        display: none;
    }
    .header-button{
        padding: 8px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 6px;
        background: rgb(142, 154, 130);
        border: none;
    }
    .burger-button__span{
        margin: 0 10px;
    }
    .burger-button__span::after {
        content: "";
        display: block;
        width: 40px;
        height: 5px;
        background-color: rgb(217, 217, 217);


    }
}